<h1 class="text-light">Mecz dnia</h1>
<%=  %>
<h3 class="text-light"><%= @match.first_team_name %> - <%= @match.second_team_name %></h3> 

<p class='text-muted'>Wynik: <span></span></p>
<p class='text-light'>Wytypuj wynik oraz strzelca pierwszego gola razem z minutą i rywalizuj z innymi zbierając punkty!</p>

<%= link_to "Aktualizuj mecz", match_edit_path(@match) %>
<%= link_to "Zmień mecz", match_path %>