<% if user_signed_in? && !@match.page.any?{|u| u.user_id == current_user.id} %>
    <h3>Dodaj typ:</h3>
    <%= form_with model: [ @match, @match.page.build ] do |form| %>
    <div class="d-flex flex-column flex-1" style="width:100%">
        <div class="d-flex ">
        <%= form.text_field :first_team, placeholder: "gospodarz", size: '10'%>
        
        <%= form.text_field :second_team, placeholder: 'gość', size: '10'%>
        
        <%= form.text_field :minutes, placeholder: 'minuta', size: '10'%>
        </div>
        <p>
        <%= form.text_field :player, placeholder: 'gracz', style: 'width: 100%'%>
        </p>
        <p>
        <%= form.text_field :comment, placeholder: 'komentarz', style: 'width: 100%'%>
        </p>
        <p>
        <%= form.hidden_field :user_id, value: current_user.id %>
        </p>
        <button type="submit" class="btn btn-outline-light">Dodaj typ</button>
    </div>
    <% end %>
<% end %>