<p class='text-muted d-flex flex-column align-items-center'>Wynik:
    <% if @match.show_result %>
    <span><%= @match.first_team_result.to_i %> : <%= @match.second_team_result.to_i %></span>
    <span>Minuta: <%= @match.minutes.to_i %></span>
    <span>Gracz: <%= @match.player %></span>
    <span>Najlepszy typer: <%= @match.best_typer %></span>
    <span>Zdobył punktów: <%= @match.highest_result.to_i %></span>
    <span>Punktowo łącznie zdobyte punkty: <%= @match.all_points.to_i %></span>
    <% end %>
  </p>