<div class="text-light d-flex flex-column align-items-center">
  <h1>Edytuj aktualny mecz</h1>

  <%= form_with model: @Match, method: :patch do |form| %>

    <div class="d-flex justify-content-center">
      <%= form.label @match.first_team_name %>  : <%= form.label @match.second_team_name %><br>
    </div>

    <div>
      <%= form.label :first_team_result %><br>
      <%= form.text_field :first_team_result %>
    </div>

    <div>
      <%= form.label :second_team_result %><br>
      <%= form.text_field :second_team_result %>
    </div>

    <div>
      <%= form.label :minutes %><br>
      <%= form.text_field :minutes %>
    </div>

    <div>
      <%= form.label :player %><br>
      <%= form.text_field :player %>
    </div>

    <div class="my-2 d-flex justify-content-center">
      <button type="submit" class="btn btn-outline-light">Aktualizuj</button>
    </div>
  <% end %>

  <%= link_to "Wróć", root_path %>
</div>