<div class="text-light d-flex flex-column align-items-center">
  <h1>Edytuj aktualny mecz</h1>

  <%= form_with model: @match, method: :patch do |form| %>

    <div class="d-flex justify-content-center">
      <%= form.label @match.first_team_name, class: 'mx-1' %> : <%= form.label @match.second_team_name, class: 'mx-1' %><br>
    </div>

    <div>
      <%= form.label :Gole_gospodarza %><br>
      <%= form.text_field :first_team_result %>
    </div>

    <div>
      <%= form.label :Gole_gościa %><br>
      <%= form.text_field :second_team_result %>
    </div>

    <div>
      <%= form.label :Minuta %><br>
      <%= form.text_field :minutes %>
    </div>

    <div>
      <%= form.label :Gracz %><br>
      <%= form.text_field :player %>
    </div>

    <div class="my-2 d-flex justify-content-center">
      <button type="submit" class="btn btn-outline-light">Aktualizuj</button>
    </div>
  <% end %>

  <%= link_to "Wróć", root_path %>
</div>