<div class="d-flex flex-column align-items-center text-light">
  <h1>Mecz dnia</h1>
  <h3 class="text-warning"><%= @match.first_team_name %> - <%= @match.second_team_name %></h3> 

  <%= render 'matches/match_day' %>

  <p>Wytypuj wynik oraz strzelca pierwszego gola razem z minutą i rywalizuj z innymi zbierając punkty!</p>
  
  <% if user_signed_in? && current_user.role == 'admin' %>
    <% if !@match.isActive %>
      <%= link_to "Aktualizuj mecz", edit_match_path(@match) %>
    <% end %>
    <%= link_to "Zmień mecz", new_match_path %>
    <% if @match.isActive %>
      <%= link_to "Zamknij typowanie", blocked_match_path(@match), method: :patch, data: { confirm: "Czy na pewno chcesz zakończyć typowanie?" } %>
    <% else %>
      <p class="text-danger">Typowanie zakończone</p>      
    <% end %>
  <% end %>  
  
  <div class="my-4">
    <h4>Typy:</h4>
    <%= render 'shared/types' %>
  </div>
  
  <% if @match.isActive %>
    <div class="my-3">
      <%= render 'matches/form' %>
    </div>
  <% end %>
</div>